.min-form input[type="text"],
.min-form input[type="password"],
.min-form input[type="email"],
.min-form input[type="url"],
.min-form input[type="date"],
.min-form input[type="month"],
.min-form input[type="time"],
.min-form input[type="datetime"],
.min-form input[type="datetime-local"],
.min-form input[type="week"],
.min-form input[type="number"],
.min-form input[type="search"],
.min-form input[type="tel"],
.min-form input[type="color"],
.min-form select,
.min-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.min-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.min-form input[type="color"] {
  padding: 0.2em 0.5em;
}


.min-form input[type="text"]:focus,
.min-form input[type="password"]:focus,
.min-form input[type="email"]:focus,
.min-form input[type="url"]:focus,
.min-form input[type="date"]:focus,
.min-form input[type="month"]:focus,
.min-form input[type="time"]:focus,
.min-form input[type="datetime"]:focus,
.min-form input[type="datetime-local"]:focus,
.min-form input[type="week"]:focus,
.min-form input[type="number"]:focus,
.min-form input[type="search"]:focus,
.min-form input[type="tel"]:focus,
.min-form input[type="color"]:focus,
.min-form select:focus,
.min-form textarea:focus {
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.min-form input:not([type]):focus {
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  border-color: #129FEA;
}

.min-form input[type="file"]:focus,
.min-form input[type="radio"]:focus,
.min-form input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 1px auto #129FEA;
}
.min-form .min-checkbox,
.min-form .min-radio {
  margin: 0.5em 0;
  display: block;
}

.min-form input[type="text"][disabled],
.min-form input[type="password"][disabled],
.min-form input[type="email"][disabled],
.min-form input[type="url"][disabled],
.min-form input[type="date"][disabled],
.min-form input[type="month"][disabled],
.min-form input[type="time"][disabled],
.min-form input[type="datetime"][disabled],
.min-form input[type="datetime-local"][disabled],
.min-form input[type="week"][disabled],
.min-form input[type="number"][disabled],
.min-form input[type="search"][disabled],
.min-form input[type="tel"][disabled],
.min-form input[type="color"][disabled],
.min-form select[disabled],
.min-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.min-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.min-form input[readonly],
.min-form select[readonly],
.min-form textarea[readonly] {
  background: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: #ccc;
}

.min-form input:focus:invalid,
.min-form textarea:focus:invalid,
.min-form select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
.min-form input:focus:invalid:focus,
.min-form textarea:focus:invalid:focus,
.min-form select:focus:invalid:focus {
  border-color: #e9322d;
}
.min-form input[type="file"]:focus:invalid:focus,
.min-form input[type="radio"]:focus:invalid:focus,
.min-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.min-form select {
  border: 1px solid #ccc;
  background-color: white;
}
.min-form select[multiple] {
  height: auto;
}
.min-form label {
  margin: 0.5em 0 0.2em;
}
.min-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.min-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.min-form-stacked input[type="text"],
.min-form-stacked input[type="password"],
.min-form-stacked input[type="email"],
.min-form-stacked input[type="url"],
.min-form-stacked input[type="date"],
.min-form-stacked input[type="month"],
.min-form-stacked input[type="time"],
.min-form-stacked input[type="datetime"],
.min-form-stacked input[type="datetime-local"],
.min-form-stacked input[type="week"],
.min-form-stacked input[type="number"],
.min-form-stacked input[type="search"],
.min-form-stacked input[type="tel"],
.min-form-stacked input[type="color"],
.min-form-stacked select,
.min-form-stacked label,
.min-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.min-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.min-form-aligned input,
.min-form-aligned textarea,
.min-form-aligned select,
/* NOTE: min-help-inline is deprecated. Use .min-form-message-inline instead. */
.min-form-aligned .min-help-inline,
.min-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.min-form-aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.min-form-aligned .min-control-group {
  margin-bottom: 0.5em;
}
.min-form-aligned .min-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.min-form-aligned .min-controls {
  margin: 1.5em 0 0 10em;
}

/* Rounded Inputs */
.min-form input.min-input-rounded,
.min-form .min-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

/* Grouped Inputs */
.min-form .min-group fieldset {
  margin-bottom: 10px;
}
.min-form .min-group input {
  display: block;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.min-form .min-group input:focus {
  z-index: 2;
}
.min-form .min-group input:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
}
.min-form .min-group input:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
}
.min-form .min-group button {
  margin: 0.35em 0;
}

.min-form .min-input-1 {
  width: 100%;
}
.min-form .min-input-2-3 {
  width: 66%;
}
.min-form .min-input-1-2 {
  width: 50%;
}
.min-form .min-input-1-3 {
  width: 33%;
}
.min-form .min-input-1-4 {
  width: 25%;
}

/* Inline help for forms */
/* NOTE: min-help-inline is deprecated. Use .min-form-message-inline instead. */
.min-form .min-help-inline,
.min-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.min-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}
