.min-form.grouped-stacked {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea {
    border-collapse: collapse;
    border-radius: 0;
    border-top: 0;
    box-shadow: none;
    display: block;
    margin: 0;
    width: 100%;

    &:active,
    &:focus {
      border: $min-f-default-border-active;
      margin-top: -1px;
    }

    &:first-of-type {
      border-radius: $min-f-default-radius $min-f-default-radius 0 0;
      border-top: $min-f-default-border;
      margin-top: .5em;

      &:active,
      &:focus {
        border: $min-f-default-border-active;
      }
    }

    &:last-of-type {
      border-radius: 0 0 $min-f-default-radius $min-f-default-radius;
      margin-bottom: .5em;
    }
  }
}

.min-form.grouped-inline {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea {
    border-collapse: collapse;
    border-radius: 0;
    border-left: 0;
    display: inline-block;
    *display: inline;
    margin: .5em 0;

    &:active,
    &:focus {
      border: $min-f-default-border-active;
      margin-left: -1px;
    }

    &:first-of-type {
      border-radius: $min-f-default-radius 0 0 $min-f-default-radius;
      border-left: $min-f-default-border;

      &:active,
      &:focus {
        border: $min-f-default-border-active;
        margin-left: 0;
      }
    }

    &:last-of-type {
      border-radius: 0 $min-f-default-radius $min-f-default-radius 0;
    }
  }

  @if $min-f-breakpoint-enable == true {
    $min-f-break-value: strip-unit($min-f-breakpoint-width) / strip-unit($min-browser-default-font-size);

    @media(max-width: #{$min-f-break-value}em) {
      input[type="text"],
      input[type="password"],
      input[type="email"],
      input[type="url"],
      input[type="date"],
      input[type="month"],
      input[type="time"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="week"],
      input[type="number"],
      input[type="search"],
      input[type="tel"],
      input[type="color"],
      select,
      textarea {
        border-left: $min-f-default-border;
        border-top: 0;
        box-shadow: none;
        display: block;
        margin: 0;
        width: 100%;

        &:active,
        &:focus {
          border: $min-f-default-border-active;
          margin-top: -1px;
          margin-left: 0;
        }

        &:first-of-type {
          border-radius: $min-f-default-radius $min-f-default-radius 0 0;
          border-top: $min-f-default-border;
          margin-top: .5em;

          &:active,
          &:focus {
            border: $min-f-default-border-active;
          }
        }

        &:last-of-type {
          border-radius: 0 0 $min-f-default-radius $min-f-default-radius;
          margin-bottom: .5em;
        }
      }
    }
  }
}
