// Minable Grid Core

$min-breakpoints: false !default;
$site-usable-gutter: strip-unit($min-site-gutter) / 2;

$min-output-classes: true !default;
$min-support-ie7: true !default;

.min-container {
  max-width: $min-site-width;
  margin-left: auto;
  margin-right: auto;
}

.min-g {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  font-size: 0;


  @if $min-outer-gutter-enable == true {
    margin-right: -#{$site-usable-gutter}px;
    margin-left: -#{$site-usable-gutter}px;
  }

  @if $min-outer-gutter-enable == false {
    .min-g {
      margin-right: -#{$site-usable-gutter}px;
      margin-left: -#{$site-usable-gutter}px;
    }
  }
}

[class *= "min-u"] {
  display: inline-block;
  *display: inline;
  font-size: $min-browser-default-font-size;
  vertical-align: top;
  zoom: 1;

  @if $min-support-ie7 == false {
    .min-inner {
      padding-right: #{$site-usable-gutter}px;
      padding-left: #{$site-usable-gutter}px;
    }
  }
}

@if $min-support-ie7 {
  .min-inner {
    padding-right: #{$site-usable-gutter}px;
    padding-left: #{$site-usable-gutter}px;
  }
}

.centered {
  margin: 0 auto;
}