$min-t-border-default-outer: 1px solid #D8D8D8 !default;
$min-t-border-default-head: 2px solid #D8D8D8 !default;

$min-t-bg-default: #D8D8D8 !default;
$min-t-bg-default-head: #D8D8D8 !default;
$min-t-bg-default-body: #FFF !default;


$min-t-text-align: left !default;