// Containers styling to be used for page body content etc

body {
  background: $morning image-url("bg-texture-light.png");
  padding: 10px;
}

.site-wrapper {
  background-color: $flatBone;
  border-bottom: 4px solid $morning;
  padding: 0 #{$site-usable-gutter}px 2em;
}

.content-home-block {
  padding-top: 2em;
}