// Include typography styling, extend framework/typecsset.scss where possible!

body {
  color: $darkGrey;
  font-family: $openSans;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $openSansCondensed;
  text-shadow: 3px 3px 0 $lightGreen;
}

h3,h4,h5,h6 {
  color: $darkGreen;
  text-shadow: 2px 2px 0 darken($darkGreen, 10);
}

p {
  font-size: 1.2em;
}

a {
  color: $morning;
  text-decoration: none;

  &:hover {
    color: darken($morning, 10);
  }
}

pre {
  background-color: #FEFEFE;
  font-size: 0.9em;
  margin: 0 0 1em;
  padding: 1em 2em;
}

ul {
  &.no-bullets {
    list-style: none;
    margin-left: 0;
  }

  &.horizontal-list li {
    display: inline;
  }
}

.text-centered {
  text-align: center;
}
.text-left {
  text-align: left;
}


.text-color-morning {
  color: $morning;
}

.text-color-darkGreen {
  color: $darkGreen;
}

.min-button {
  background-color: $darkGreen;
  color: $flatBone;
  font-size: 1.4em;
}