// Include typography styling, extend framework/typecsset.scss where possible!

body {
  color: $white;
  font-family: $openSans;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $openSansCondensed;
  text-shadow: 2px 2px 0 darken($black, 20);
}

h3,h4,h5,h6 {
}

p {
  font-size: 1.2em;
}

a {
  color: $lightGreen;
  text-decoration: none;

  &:hover {
    color: $darkGrey;
  }
}

pre {
  background-color: $black;
  font-size: 0.9em;
  margin: 0 0 1em;
  padding: 1em 2em;
}

ul {
  &.no-bullets {
    list-style: none;
    margin-left: 0;
  }

  &.horizontal-list li {
    display: inline;
  }
}

.text-centered {
  text-align: center;
}
.text-left {
  text-align: left;
}

.text-color-lightGreen {
  color: $lightGreen;
}

.text-color-black {
  color: $black;
}

.min-button {
  color: $white;
  font-size: 1.4em;
}