// Minable Grid Core

$min-grid-breakpoints: false !default;
$min-grid-usable-gutter: strip-unit($min-grid-gutter) / 2;

$min-grid-output-classes: true !default;
$min-grid-ie7-support-enable: true !default;

.min-wrapper {
  max-width: $min-wrapper-width;
  margin-left: auto;
  margin-right: auto;
}

@if $min-wrapper-wide-width {
  .min-wrapper-wide {
    max-width: $min-wrapper-wide-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.min-g {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  font-size: 0;


  @if $min-grid-gutter-outer-enable == false {
    margin-right: -#{$min-grid-usable-gutter}px;
    margin-left: -#{$min-grid-usable-gutter}px;
  }

  @if $min-grid-gutter-outer-enable == true {
    .min-g {
      margin-right: -#{$min-grid-usable-gutter}px;
      margin-left: -#{$min-grid-usable-gutter}px;
    }
  }
}

[class *= "min-u"] {
  display: inline-block;
  *display: inline;
  font-size: $min-browser-default-font-size;
  vertical-align: top;
  zoom: 1;

  @if $min-grid-ie7-support-enable == false {
    padding-right: #{$min-grid-usable-gutter}px;
    padding-left: #{$min-grid-usable-gutter}px;
  }
}

.min-inner {
  padding-right: #{$min-grid-usable-gutter}px;
  padding-left: #{$min-grid-usable-gutter}px;
}

.centered {
  margin: 0 auto;
}