.min-form {
  .min-input-1 {
    width: 100%;
  }

  .min-input-1-2 {
    width: 50%;
    *width: 49.969%;
  }

  .min-input-1-3 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .min-input-2-3 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .min-input-1-4 {
    width: 25%;
    *width: 24.969%;
  }

  .min-input-3-4 {
    width: 75%;
    *width: 74.969%;
  }
}

@if $min-f-breakpoint-enable == true {
  $min-f-break-value: strip-unit($min-f-breakpoint-width) / strip-unit($min-browser-default-font-size);

  @media(max-width: #{$min-f-break-value}em) {
    .min-form {
      input[type="text"],
      input[type="password"],
      input[type="email"],
      input[type="url"],
      input[type="date"],
      input[type="month"],
      input[type="time"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="week"],
      input[type="number"],
      input[type="search"],
      input[type="tel"],
      input[type="color"],
      select,
      textarea,
      label {
        margin: .5em 0;
        width: 100%;
      }
    }
  }
}
