@media only screen and (max-width : 480px) {
  .min-form button[type="submit"] {
      margin: 0.7em 0 0;
  }

  .min-form input:not([type]),
  .min-form input[type="text"],
  .min-form input[type="password"],
  .min-form input[type="email"],
  .min-form input[type="url"],
  .min-form input[type="date"],
  .min-form input[type="month"],
  .min-form input[type="time"],
  .min-form input[type="datetime"],
  .min-form input[type="datetime-local"],
  .min-form input[type="week"],
  .min-form input[type="number"],
  .min-form input[type="search"],
  .min-form input[type="tel"],
  .min-form input[type="color"],
  .min-form label {
    margin-bottom: 0.3em;
    display: block;
  }

  .min-group input:not([type]),
  .min-group input[type="text"],
  .min-group input[type="password"],
  .min-group input[type="email"],
  .min-group input[type="url"],
  .min-group input[type="date"],
  .min-group input[type="month"],
  .min-group input[type="time"],
  .min-group input[type="datetime"],
  .min-group input[type="datetime-local"],
  .min-group input[type="week"],
  .min-group input[type="number"],
  .min-group input[type="search"],
  .min-group input[type="tel"],
  .min-group input[type="color"] {
    margin-bottom: 0;
  }

  .min-form-aligned .min-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }

  .min-form-aligned .min-controls {
    margin: 1.5em 0 0 0;
  }

  /* NOTE: min-help-inline is deprecated. Use .min-form-message-inline instead. */
  .min-form .min-help-inline,
  .min-form-message-inline,
  .min-form-message {
    display: block;
    font-size: 80%;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
  }
}