.min-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.min-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.min-table td,
.min-table th {
  border-left: 1px solid #cbcbcb;/*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.5em 1em; /* cell padding */
}
.min-table td:first-child,
.min-table th:first-child {
  border-left-width: 0;
}

.min-table thead {
  background: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

/*
striping:
 even - #fff (white)
 odd  - #f2f2f2 (light gray)
*/
.min-table td {
  background-color: transparent;
}
.min-table-odd td {
  background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.min-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* BORDERED TABLES */
.min-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}
.min-table-bordered tbody > tr:last-child td,
.min-table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.min-table-horizontal td,
.min-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}
.min-table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}
