// Homepage styling

.hero-banner {
  background-color: $morning;
  border-top: 4px solid $darkGreen;
  border-bottom: 4px solid $darkGreen;
  margin-bottom: 1em;
  padding: 1em;

  .box {
    background-color: lighten($morning, 10);
    margin: 5px;
    min-height: 90px;
  }
}