// Replace text with image
@mixin replace-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

  .lt-ie8 & {
    border: 0;
    color: transparent;
    font: 0/0 a;
    overflow: auto;
    text-indent: 0;
    text-shadow: none;
    white-space: normal;
  }
}