body {
}

h1,h2,h3,h4,h5,h6 {
}

p {
}

a {

  &:hover {
  }
}

strong {
}

small {
}

.text-center {
}

.no-break {
}

hr {
  border: none;
  height: 0.25em;
  background-color: $lightGrey;
  margin: 1.5em auto 1em;
  display: block;
  width: 2em;
}

ul {
  &.horizontal {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      *display: inline;
    }
  }

  &.no-bullets {
    margin-left: 0;

    li {
      list-style: none;
    }

    ul {
      margin-left: 2em;

      li {
        list-style: circle;
      }
    }
  }
}