// Global Styling (Stuff that doesnt really belong anywhere else!)

@if $min-support-ie7 {
  // apply a natural box layout model to all elements
  *, *:before, *:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
}

@if $min-support-ie7 == false {
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

img {
  height: auto;
  max-width: 100%;
}

html.svg .svg-fallback {
  display: none;
}

html.no-svg .svg-main {
  display: none;
}