/*------------------------------------*\
  Grid Setup
\*------------------------------------*/

$min-output-classes: false !default;
$min-support-ie7: false !default;

$min-browser-default-font-size: 16px !default;

$min-breakpoints: false !default;

$min-site-width: 960px !default;

$min-site-gutter: 20px !default;
$min-outer-gutter-enable: true !default;