// Styling declarations
//=====================================

// Colours

// Fonts


// Grid Setup
//=====================================

// Max site width (Max width of .min-container elements)
$site-width: 980px !default;

// Define the gutter between columns in px
$site-gutter: 30px !default;

// Turn of outer most minable row gutter
$min-remove-outer-gutter: false !default;


// Grid Breakpoints
//=====================================

// Enable min class output (.min-u-1-3)
$min-class-output: false !default;

// Breakpoints (used by grid to calculate additional breakpoints)
$break-m: 767px !default;
$break-s: 450px !default;

// Used to calculate rem values etc
$browser-default-font-size: 16px !default;

// Additional breakpoints, exports to .pure-u-m-1-4 etc
$breakpoints: m $break-m, s $break-s !default;