---
title: Minable - Home
---
<header class="min-u-1 centered masthead">
  <div class="min-inner">
    <%= image_tag("min-logo-800w.png", :class => "main-logo", :alt =>"Minable logo")%>
    <p class="tagline">Minimal &amp; Flexible<br> Sass powered framework</p>
  </div>
</header>

<section class="min-u-1 hero-banner">
  <div class="min-inner">
  </div>
</section>