$min-grid-output-classes: false !default;

$min-wrapper-width: 960px !default;
$min-wrapper-wide-width: false !default;


$min-grid-gutter: 32px !default;
$min-grid-gutter-outer-enable: true !default;

$min-grid-breakpoints: false !default;
